appdirs==1.4.3
attrs==19.3.0
black==19.10b0
click==7.1.1
flask==1.1.1
gevent==21.1.2
greenlet==1.0.0
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
more-itertools==8.2.0
packaging==20.3
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pysnooper==0.3.0
pytest==5.3.5
regex==2020.2.20
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.8
werkzeug==1.0.0
zope.event==4.5.0
zope.interface==5.2.0
